<nav id="footer">
    <ul class="footerBox">
        <li class="footerItem"> Copyright</a></li>
        <li class="footerItem"> Made in August 2021 </a></li>
        <li class="footerItem"> With Node.js, EJS </a></li>
    </ul>
</nav>