<nav id="topMenu">
    <ul class="menuBox">
        <li class="menuItem"><a href="/">Homepage</a></li>
        <li class="menuItem"><a href="/authors"> About the authors </a></li>
        <li class="menuItem"><a href="/new_author"> Add new author </a></li>
        <li class="menuItem"><a href="/new_post"> Add new post </a></li>
    </ul>

    <div id="banner"> 
        <img src="https://images.unsplash.com/photo-1551551313-fe7031e26248?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFuYW5hJTIwbGVhdmVzfGVufDB8MXwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"> 
    </div>
</nav>